:root{
    --color--main: #0A3871;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
}

/*------Layout-----*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    padding: 15px 5px;
}


/*------encriptador------*/
#encriptador{
    height: 80vh;
}
#encriptador .container{
    height: 100%;
}
#encriptador .container .row{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.col{
    width: 100%;
}
#texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#texto label{
    width: 100%;
}
#info{
    font-size: 12px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 5px;
}
#texto label textarea{
    width: 100%;
    height: 300px;
    background: transparent;
    border: none;
    padding-left: 8px;
}
#texto label textarea::placeholder{
    color: var(--color--main);
    font-weight: 600;
    font-size: 24px;
}
#texto label textarea:focus{
    outline: 0;
}
#botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}
.botao{
    padding: 15px;
    width: 100%;
    border-radius: 24px;
    border: 1px solid var(--color--main);
    background-color: #ffffff;
    color: var(--color--main);
}
.botao:hover{
    background-color: var(--color--main);
    color: #ffffff;
    cursor: pointer;
}

#criptografar{
    background-color: var(--color--main);
    color: #ffffff;
}
#criptografar:hover{
    background-color: #ffffff;
    color: var(--color--main);
    cursor: pointer;
}







/*------Resposta------*/
#default{
    background: #ffffff;
    border-radius: 24px;
    text-align: center;
    padding: 30px 20px 10px 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#default h2{}
#default p{
    font-size: 14px;
    margin-top: 5px;
}


#resposta{
    background: #ffffff;
    border-radius: 24px;
    text-align: center;
    padding: 30px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#resposta p{
    margin: 10px 0px;
    font-size: 14px;
    text-align: justify;
}







.desativar{
    display: none !important;
}




/* Large devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #botoes{
        flex-direction: row;
    }
}




/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    #encriptador .container .row{
        flex-direction: row;
        justify-content: right;
        align-items: stretch;
        height: 100%;
        gap: 10px;
    }

    .col-8{
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
    }
    .col-4{
        width: 30%;
    }



    #botoes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }



    /*------Resposta------*/
    #default{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 15px;
    }
    #resposta{
        height: 100%;
    }
    #vetor{
        display: block;
        height: 250px;
    }
}